.page-title {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    color: white;
    width: 850px;
    background: #455894;
    margin: auto;
    padding: 10px 10px;
}

body {
    margin: auto;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType = 0, StartColorStr = gray, EndColorStr = #eee);
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAJYCAYAAACjC4yfAAAAVElEQVRIiWNoaGj4z8TAwMCARDAyMjKgi+GUwKmYTPNoYijdHDmYQoNuoTskHDm0PT0aGsPM0wPvyMEUGqNF1WD19GhojKZTki2itqcHU+gODkcCAEOmCHg0DmlYAAAAAElFTkSuQmCC");
    background-repeat: repeat-x;
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType = 0, StartColorStr = gray, EndColorStr = #eee);
}

.container {
    width: 850px;
    padding: 10px;
    background-color: white;
    border-style: dotted;
    border-width: 1px 0 0 0;
    margin: auto;
}

.footer {
    text-align: center;
    color: #eee;
    padding: 10px 10px;
    width: 850px;
    margin: 0px;
    background: #455894;
    margin: auto;
    margin-bottom: 1em;
}

.footer a {
    color: white;
    text-decoration: underline;
}

.menu {
    font-size: 85%;
    height: 20px;
    width: 860px;
    padding: 5px 5px;
    margin: auto;
    background-color: #eee;
}

.sub_menu {
    background-color: #eee;
    width: 250px;
    text-align: center;
    padding: 0.5em;
    border-style: solid;
    border-width: thin;
    font-size: 90%;
}

.menu ul {
    text-align: center;
    margin: 3px;
}

.menu ul li {
    display: inline;
    text-decoration: none;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    padding: 0 20px;
}

.menu ul li a:hover, .menu_ul1 ul li a.selected {
    color: #A52A2A;
    text-decoration: underline;
}

dl {
    line-height: 1.2em;
    margin: 1em;
    font-size: 90%;
}

dt {
    font-weight: bold;
}

ul {
    line-height: 1.2em;
    list-style-type: square;
}

ul li {
    font-size: 90%;
}

ol li {
    line-height: 1.2em;
    border-bottom-style: dotted;
    border-width: 1px;
    padding: 0.5em;
    font-size: 90%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: arial, sans-serif;
}

h1 {
    color: #455894;
    font-size: 110%;
}

h2 {
    color: white;
    background-color: #455894;
    font-size: 100%;
    line-height: 1.2em;
    padding: 0.1em 1em;
}

h3 {
    font-size: 95%;
    line-height: 150%;
    margin: 1em 1em;
    border-style: solid;
    border-color: gray;
    border-width: 0 0 0.08em 0;
}

h4 {
    font-size: 90%;
    line-height: 150%;
    margin: 1em;
    border-style: dotted;
    border-width: 0 0 0.08em 0;
}

p {
    text-indent: 1em;
    line-height: 150%;
    margin: 0em;
    padding: 0 1em;
    font-size: 90%;
    line-height: 150%;
}

.to_table_of_contents {
    font-size: 80%;
    text-align: right;
}

.copyright {
    text-align: center;
    font-size: 80%;
}

.contact {
    text-align: right;
    font-size: 80%;
}

table {
    border-style: solid;
    border-width: 1px;
    border-color: #E3E3E3;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    border-style: solid;
    border-width: 1px;
    border-color: #E3E3E3;
    text-align: right;
    line-height: 1.5em;
    padding: 5px 20px;
    font-size: 90%;
}

th {
    background: #F5F5F5;
    text-align: center;
}

.sparql_query_info_container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table.sparql_query_info_table {
    width: 100%;
    margin: 1em 0;
}

table.sparql_query_info_table td, th {
    padding: 3px 3px;
    text-align: center;
    font-size: 80%;
}

table.sparql_query_info_table td.description {
    text-align: left;
}

table.manual_table td,th{
    text-align: center;
}

.error_message {
    color: red;
    font-weight: bold;
}

pre {
    margin: 1em;
}

.url {
    font-weight: bold;
    margin: 1em;
}

.two_column_block {
    width: 49%;
    float: left;
    margin-right: 0.5em;
}

.download_box {
    width: 65%;
    font-size: 100%;
    font-weight: bold;
    background-color: #ffcc66;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    padding: 15px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 15px; /* CSS3 */
    -moz-border-radius: 15px; /* Firefox */
    -webkit-border-radius: 15px; /* Safari,Chrome */
}

.download_box a {
    color: #455894;
    text-decoration: none;
}

.download_box a:hover {
    text-decoration: underline;
}

a {
    color: #455894;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.show_types_style, .show_instances_style {
    background-color: #eee;
    font-size: 90%;
    margin-right: 0.5em;
    padding: 0.1em 0.2em;
    border-style: solid;
    border-width: thin;
    boder-color: black;
}

.class_list_style {
    list-style-image: url('icons/class_icon_s.png');
}

.property_list_style {
    list-style-image: url('icons/property_icon_s.png');
}

.instance_list_style {
    list-style-image: url('icons/instance_icon_s.png');
}

.server_name_style {
    color: gray;
    background-color: lightgray;
    padding: 0.1em 1em;
    margin-left: 2em;
    border-color: lightgray;
    border-style: solid;
    border-width: thin;
}

a img {
    border-style: none;
}

.page_description {
    font-size: 90%;
    padding: 1em 5em;
}

.separator {
    border-style: dotted;
    border-width: thin 0 0 0;
}

label {
    margin-right: 0.5em;
}

.submit input {
    margin-left: 4.5em;
}

input, textarea {
    background: #F5F5F5;
    border: 1px solid gray
}

input.submit {
    color: #000;
    background: #F5F5F5;
    border: 2px;
    outset: #d7b9c9;
    font-size: 120%;
    width: 5em;
}

fieldset {
    border: 1px solid gray;
    width: 820px;
}

legend {
    color: black;
    font-weight: bold;
    background: lightgray;
    border: 1px solid gray;
    padding: 2px 6px
}

form p {
    text-indent: 0;
}
