PREFIX  rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX  rdfs:  <http://www.w3.org/2000/01/rdf-schema#>
PREFIX  wikiont_class:  <http://www.yamaguti.comp.ae.keio.ac.jp/wikipedia_ontology/class/>

SELECT ?p
WHERE
{
	?p rdfs:domain wikiont_class:$CLASS_NAME.
}

